name: Build AvScan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Disable Spectre Mitigation for filter project
      shell: pwsh
      run: |
        $vcxprojPath = "filter\avscan.vcxproj"
        [xml]$vcxproj = Get-Content $vcxprojPath
        $ns = New-Object System.Xml.XmlNamespaceManager($vcxproj.NameTable)
        $ns.AddNamespace("ms", "http://schemas.microsoft.com/developer/msbuild/2003")
        $itemDefGroups = $vcxproj.SelectNodes("//ms:ItemDefinitionGroup", $ns)
        foreach ($itemDefGroup in $itemDefGroups) {
          $clCompile = $itemDefGroup.SelectSingleNode("ms:ClCompile", $ns)
          if ($null -eq $clCompile) {
            $clCompile = $vcxproj.CreateElement("ClCompile", $vcxproj.DocumentElement.NamespaceURI)
            $itemDefGroup.AppendChild($clCompile) | Out-Null
          }
          $spectreMitigation = $clCompile.SelectSingleNode("ms:SpectreMitigation", $ns)
          if ($null -eq $spectreMitigation) {
            $spectreMitigation = $vcxproj.CreateElement("SpectreMitigation", $vcxproj.DocumentElement.NamespaceURI)
            $spectreMitigation.InnerText = "false"
            $clCompile.AppendChild($spectreMitigation) | Out-Null
          } else {
            $spectreMitigation.InnerText = "false"
          }
        }
        $vcxproj.Save($vcxprojPath)

    - name: Disable Spectre Mitigation for user project
      shell: pwsh
      run: |
        $vcxprojPath = "user\avscanuser.vcxproj"
        [xml]$vcxproj = Get-Content $vcxprojPath
        $ns = New-Object System.Xml.XmlNamespaceManager($vcxproj.NameTable)
        $ns.AddNamespace("ms", "http://schemas.microsoft.com/developer/msbuild/2003")
        $itemDefGroups = $vcxproj.SelectNodes("//ms:ItemDefinitionGroup", $ns)
        foreach ($itemDefGroup in $itemDefGroups) {
          $clCompile = $itemDefGroup.SelectSingleNode("ms:ClCompile", $ns)
          if ($null -eq $clCompile) {
            $clCompile = $vcxproj.CreateElement("ClCompile", $vcxproj.DocumentElement.NamespaceURI)
            $itemDefGroup.AppendChild($clCompile) | Out-Null
          }
          $spectreMitigation = $clCompile.SelectSingleNode("ms:SpectreMitigation", $ns)
          if ($null -eq $spectreMitigation) {
            $spectreMitigation = $vcxproj.CreateElement("SpectreMitigation", $vcxproj.DocumentElement.NamespaceURI)
            $spectreMitigation.InnerText = "false"
            $clCompile.AppendChild($spectreMitigation) | Out-Null
          } else {
            $spectreMitigation.InnerText = "false"
          }
        }
        $vcxproj.Save($vcxprojPath)

    # === THAY ĐỔI QUAN TRỌNG BẮT ĐẦU TỪ ĐÂY ===
    # Chúng ta không build avscan.sln nữa
    # Thay vào đó, chúng ta build 2 dự án riêng biệt

    - name: Build filter (Driver)
      run: |
        msbuild.exe filter/avscan.vcxproj -t:Build -p:Configuration=Release -p:Platform=x64
        
    - name: Build user (Application)
      run: |
        msbuild.exe user/avscanuser.vcxproj -p:Configuration=Release -p:Platform=x64

    # === KẾT THÚC THAY ĐỔI ===

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: avscan-binaries
        path: |
          filter/x64/Release/avscan.sys
          filter/avscan.inf
          user/x64/Release/avscanuser.exe
