name: Build AvScan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Disable Spectre Mitigation for filter project
      shell: pwsh
      run: |
        $vcxprojPath = "filter\avscan.vcxproj"
        [xml]$vcxproj = Get-Content $vcxprojPath
        
        # Add namespace manager
        $ns = New-Object System.Xml.XmlNamespaceManager($vcxproj.NameTable)
        $ns.AddNamespace("ms", "http://schemas.microsoft.com/developer/msbuild/2003")
        
        # Find all ItemDefinitionGroup nodes
        $itemDefGroups = $vcxproj.SelectNodes("//ms:ItemDefinitionGroup", $ns)
        
        foreach ($itemDefGroup in $itemDefGroups) {
          # Get or create ClCompile node
          $clCompile = $itemDefGroup.SelectSingleNode("ms:ClCompile", $ns)
          if ($null -eq $clCompile) {
            $clCompile = $vcxproj.CreateElement("ClCompile", $vcxproj.DocumentElement.NamespaceURI)
            $itemDefGroup.AppendChild($clCompile) | Out-Null
          }
          
          # Check if SpectreMitigation already exists
          $spectreMitigation = $clCompile.SelectSingleNode("ms:SpectreMitigation", $ns)
          if ($null -eq $spectreMitigation) {
            $spectreMitigation = $vcxproj.CreateElement("SpectreMitigation", $vcxproj.DocumentElement.NamespaceURI)
            $spectreMitigation.InnerText = "false"
            $clCompile.AppendChild($spectreMitigation) | Out-Null
          } else {
            $spectreMitigation.InnerText = "false"
          }
        }
        
        $vcxproj.Save($vcxprojPath)
        Write-Host "Disabled Spectre Mitigation for filter project"

    - name: Disable Spectre Mitigation for user project
      shell: pwsh
      run: |
        $vcxprojPath = "user\avscanuser.vcxproj"
        [xml]$vcxproj = Get-Content $vcxprojPath
        
        # Add namespace manager
        $ns = New-Object System.Xml.XmlNamespaceManager($vcxproj.NameTable)
        $ns.AddNamespace("ms", "http://schemas.microsoft.com/developer/msbuild/2003")
        
        # Find all ItemDefinitionGroup nodes
        $itemDefGroups = $vcxproj.SelectNodes("//ms:ItemDefinitionGroup", $ns)
        
        foreach ($itemDefGroup in $itemDefGroups) {
          # Get or create ClCompile node
          $clCompile = $itemDefGroup.SelectSingleNode("ms:ClCompile", $ns)
          if ($null -eq $clCompile) {
            $clCompile = $vcxproj.CreateElement("ClCompile", $vcxproj.DocumentElement.NamespaceURI)
            $itemDefGroup.AppendChild($clCompile) | Out-Null
          }
          
          # Check if SpectreMitigation already exists
          $spectreMitigation = $clCompile.SelectSingleNode("ms:SpectreMitigation", $ns)
          if ($null -eq $spectreMitigation) {
            $spectreMitigation = $vcxproj.CreateElement("SpectreMitigation", $vcxproj.DocumentElement.NamespaceURI)
            $spectreMitigation.InnerText = "false"
            $clCompile.AppendChild($spectreMitigation) | Out-Null
          } else {
            $spectreMitigation.InnerText = "false"
          }
        }
        
        $vcxproj.Save($vcxprojPath)
        Write-Host "Disabled Spectre Mitigation for user project"

    - name: Build solution
      run: msbuild avscan.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: avscan-binaries
        path: |
          filter/x64/Release/avscan.sys
          filter/avscan.inf
          user/x64/Release/avscanuser.exe
